*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #dedeee;
	margin-top: 50px;
}

.container {
	width: 600px;
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 0.25rem;
	background-color: #fff;
	box-shadow: 0 0 10px #4e4e4e;
}
.header-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.dividor {
	width: 100%;
	height: 1px;
	margin-top: 0.3rem;
	background-color: #dddeee;
}

.text-input {
	width: 100%;
	background: transparent;
	outline: none;
	border: 1px solid #dddeee;
	border-radius: 0.15rem;
	padding: 0.5rem 1rem;
	margin-top: 0.25rem;
}

.text-input:focus {
	border: 1px solid #ff6733;
}

.lead {
	font-weight: 600;
	font-size: 0.9rem;
	color: #333333;
	display: block;
	user-select: none;
}

label {
	user-select: none;
}

.category-wrap {
	margin-top: 2rem;
}

.input-group-wrap {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.equal {
	font-size: 2rem;
}

.formula-wrap {
	margin-top: 2rem;
	background-color: #ddd;
	padding: 1rem;
	border-radius: 00.25rem;
}

.formula-wrap p {
	font-family: "Lobster", sans-serif;

	font-size: 1rem;
	color: #090249;
	margin-top: 1rem;
	line-height: 1.3;
	font-weight: 400;
}
