body {
	font-family: "Poppins", sans-serif;
}

.container {
	width: 600px;
	padding: auto;
	margin: auto;
}

h1 {
	color: #2c2c2c;
}

button {
	padding: 5px 10px;
	background-color: #e60ae6;
	border: 0px;
	border-radius: 999px;
	color: #ddd;
	font-size: 14px;
	font-weight: 900;
	cursor: pointer;
}

button:hover {
	background-color: #05880b;
	transition: 0.5s ease-in-out;
}

p {
	font-family: "Lobster", sans-serif;
	color: #d80a0a;
}
